// Colors
$white: #ffffff;
$black: #000000;

$magenta: #e20074;

// Fonts
$pt-mono: PTMono;

$font-main: $pt-mono;

// Typography
//
// font-sizes
$size-1: 60px;
$size-2: 48px;
$size-3: 36px;
$size-4: 24px;
$size-5: 21px;
$size-6: 18px;
$size-7: 15px;
$size-8: 12px;
